<h1>Editing Category</h1>

<%= render 'form' %>

<%= link_to @category, class: 'btn btn-default btn-sm btn btn-info' do %>
    <span class="glyphicon glyphicon glyphicon-zoom-in"></span> Show
<% end %>

<%= link_to categories_path, class: 'btn btn-default btn-sm btn btn-warning' do %>
    <span class="glyphicon glyphicon-triangle-right"></span> Back
<% end %>